@import "../../utils/ui/colors.scss";

.builder-card {
  // margin: 10px;
  padding: 0px !important;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid rgba($text-secondary,0.4);
  .left {
    img {
      width: 100%;
      border-radius: 10px  10px  0px  0px;
    }
  }
  .right {
    flex: 1;
    h3 {
      font-size: 20px;
    }
    .label {
      background-color: $text-primary;
      border-radius: 25px;
      margin: 5px 0;
      align-self: start;
    }
    .action{
      background-color: $primary-color;
      padding: 5px 15px;
      font-size: 15px;
      border-radius: 25px;
      color: $text-primary;
      border: 0px;
      outline: none;
      align-self: center !important;
    }
  }
}
