@import "../../utils/ui/colors.scss";

.worker-card {
  display: flex;
  margin: 10px;
  padding: 15px;
  gap: 10px;
  border-radius: 10px;

  background-color: rgba($primary-color, 0.2);
  .left {
    max-width: 30%;
    img {
      max-height: 150px;
      border-radius: 10px;
    }
  }
  .right {
    flex: 1;
    h3 {
      font-size: 20px;
    }
    .label {
      padding: 0px 15px;
      color: $primary-color;
      background-color: $text-primary;
      border-radius: 25px;
      margin: 5px 0;
      align-self: start;
    }
  }
}
